<div class="row enteteCQP">
  <a href="{{ path('accueil') }}" class="col-3">
      <img src="{{ asset('images/logo.png') }}" alt="LOGO BikeShop" class="logo">
  </a>
  <section class="col-9 title-section">
      <h1 class="title">Tour de Roue</h1>
      <h3 class="subtitle">Bike shop</h3>
  </section>
</div>
