{#-------------------------------------#}
{#  
   Fichier créé par Jules Lajoie
    7 mars 2024 
   }
{#-------------------------------------#}

<section class="navigationBar " >
    <a href="{{ path('contact') }}">Contact</a>
    <a href="">Créez un compte</a>
    <a href=""></a>Connexion</a>
    <a href=""></a>Panier</a>
    <b>0 item</b>
</section>