
<section class="navigationBar " >
    <a href="{{ path('contact') }}"><button>Contact</button></a>
    <button>Créez un compte</button>
    <button>Connexion</button>
    <button>Panier</button>
    <b>0 item</b>
</section>