{#-------------------------------------#}
{#  
   Fichier créé par Jules Lajoie
    7 mars 2024 
   }
{#-------------------------------------#}

<div class="row piedCQP">
   &copy;2024 Jules Lajoie 
</div>